body
{
  background-color: Black;
}

.header
{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: #161616;
}

select, button
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  margin: 0.5vh;
  color: whitesmoke;
  border-width: 0px;
  border-radius: 0.5vh;
  width: 11%;
  background-color: #444444;
}

select
{
  padding: 0.5vh;
}

select:hover, button:hover
{
  cursor: pointer;
  background-color: #222222;
}

select:disabled, button:disabled
{
  cursor: not-allowed;
  color: #555555;
  background-color: #333333;
}

.array-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 85vh;
  right: 0;
  left: 0;
  bottom: 0.5%;
}

.array-bar
{
  align-self: flex-end;
  display: inline-block;
  background-color: darkblue;
}
